* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 0vh;
  background-color: #0B2434;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main {
  background-color: #F5F5F5;
  height: 400px;
  min-width: 400px;
  width: 600px;
  max-width: 800px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 35px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.die-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 25px 0;
}

.title {
  color: #2B283A;
  font-size: 26px;
  margin-bottom: 8px;
  margin-top: -30px;
}

.description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4A4E74;
}

.reroll-button {
  background-color: #5035FF;
  color: white;
  border: none;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.81277px;
  width: 90px;
  height: 35px;
  cursor: pointer;
}

.reroll-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

#held {
  background-color: #59E391;
}

.score {
  position: relative;
  min-width: 350px;
}

.rolls, .time {
  font-size: 20px;
  position: absolute;
  top: 15px;
}

.rolls {
  left: 65px;
}

.time {
  left: 215px;
  min-width: 100px;
}

.die {
  width: 50px;
  height: 50px;
  border: 1px solid;
  box-shadow: 2px 2px 2px #0B2434;
  border-radius: 4px;
  text-align: center;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  grid-template-areas: 
    "a . c"
    "e g f"
    "d . b";
}

.die-value {
  background-color: #0B2434;
  border-radius: 20px;
  width: 10px;
  height: 10px;
  margin: auto;
}

.die-value:nth-child(2) {
  grid-area: b;
}

.die-value:nth-child(3) {
  grid-area: c;
}

.die-value:nth-child(4) {
  grid-area: d;
}

.die-value:nth-child(5) {
  grid-area: e;
}

.die-value:nth-child(6) {
  grid-area: f;
}

.die-value:nth-child(odd):last-child {
  grid-area: g;
}
